<div class="bg-wrapper">
   <img src="/images/mask-group.png" class="desktop">
   <img src="/images/mask-group.png" class="desktop">
</div>
<p class="main-title">
   AI가
   <span class="accent">검증</span>
   하고
   <span class="accent">진단</span>
   하는<br>'스웨팅'만의 맞춤형 매칭 서비스
</p>
<div class="main-icon">
   <div class="row">
      <div class="col-md-6">
         <img src="/images/main-icon.png" alt="" class="desktop">
      </div>
   </div>
</div>
