<div class="top">
  <div class="top111">
    <div class="top222">
      <div class="textexplain">
        <p class="paccent"></p>
        <p class="explain"></p>
      </div>
      <div class="logoimgbackground">
        <img class="logoimg" src="/images/class/img-swetingplan-banner-web.png" alt="" />
      </div>
    </div>
  </div>
  <div class="top112"></div>
</div>
<div class="contentbackground">
  <div class="content">
    <div class="recommend" id="recommendbasic">
      <div class="titlerecommend">
        <b>타이틀 (추천방식)</b>
      </div>

      <div class="classbox">
        <div class="classplan">
          <img class="classphoto" src="/images/class/classphoto1.png" />
          <div class="classexplain">
            <div class="classintroduce">
              실리콘벨리 개발 10년차가 알려주는 Machine learning 기초!
            </div>
            <div class="sweatorname">
              코딩닥터효성
            </div>
            <div class="personinfo">
              <div class="sweatorsweatee">SWETOR</div>
              <div class="level">중급개발자</div>
            </div>
            <div class="sweatorpay">
              30,000원 ~ 50,000원 / 시간당
            </div>
            <div class="tagandscrab">
              <div class="classtag">
                <div class="tags">Java</div>
                <div class="tags">초급</div>
              </div>
              <div class="scrab">
                <div class="scrabnumber">12</div>
                <div class="scrabicon" data-value="checked"><img class="bookmarkimg" src="/images/class/bookmark.png" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="classplan">
          <img class="classphoto" src="/images/class/classphoto1.png" />
          <div class="classexplain">
            <div class="classintroduce">
              실리콘벨리 개발 10년차가 알려주는 Machine learning 기초!
            </div>
            <div class="sweatorname">
              코딩닥터효성
            </div>
            <div class="personinfo">
              <div class="sweatorsweatee">SWETOR</div>
              <div class="level">중급개발자</div>
            </div>
            <div class="sweatorpay">
              30,000원 ~ 50,000원 / 시간당
            </div>
            <div class="tagandscrab">
              <div class="classtag">
                <div class="tags">Java</div>
                <div class="tags">초급</div>
              </div>
              <div class="scrab">
                <div class="scrabnumber">12</div>
                <div class="scrabicon" data-value="notchecked"><img class="bookmarkimg"
                    src="/images/class/bookmark.png" /></div>
              </div>
            </div>
          </div>
        </div>
        <div class="classplan">
          <img class="classphoto" src="/images/class/classphoto1.png" />
          <div class="classexplain">
            <div class="classintroduce">
              실리콘벨리 개발 10년차가 알려주는 Machine learning 기초!
            </div>
            <div class="sweatorname">
              코딩닥터효성
            </div>
            <div class="personinfo">
              <div class="sweatorsweatee">SWETOR</div>
              <div class="level">중급개발자</div>
            </div>
            <div class="sweatorpay">
              30,000원 ~ 50,000원 / 시간당
            </div>
            <div class="tagandscrab">
              <div class="classtag">
                <div class="tags">Java</div>
                <div class="tags">초급</div>
              </div>
              <div class="scrab">
                <div class="scrabnumber">12</div>
                <div class="scrabicon" data-value="notchecked"><img class="bookmarkimg"
                    src="/images/class/bookmark.png" /></div>

              </div>
            </div>
          </div>
        </div>
        <div class="classplan">
          <img class="classphoto" src="/images/class/classphoto1.png" />
          <div class="classexplain">
            <div class="classintroduce">
              실리콘벨리 개발 10년차가 알려주는 Machine learning 기초!
            </div>
            <div class="sweatorname">
              코딩닥터효성
            </div>
            <div class="personinfo">
              <div class="sweatorsweatee">SWETOR</div>
              <div class="level">중급개발자</div>
            </div>
            <div class="sweatorpay">
              30,000원 ~ 50,000원 / 시간당
            </div>
            <div class="tagandscrab">
              <div class="classtag">
                <div class="tags">Java</div>
                <div class="tags">초급</div>
              </div>
              <div class="scrab">
                <div class="scrabnumber">12</div>
                <div class="scrabicon" data-value="checked"><img class="bookmarkimg" src="/images/class/bookmark.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
    <div class="recommend2" id="recommendslider">
      <div class="titlerecommend">
        <b>타이틀 (추천방식)</b>
      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="classplan">
              <img class="classphoto" src="/images/class/classphoto1.png" />
              <div class="classexplain">
                <div class="classintroduce">
                  실리콘벨리 개발 10년차가 알려주는 Machine learning 기초!
                </div>
                <div class="sweatorname">
                  코딩닥터효성
                </div>
                <div class="personinfo">
                  <div class="level">중급</div>
                  <div class="sweatorsweatee">SWETOR</div>
                </div>
                <div class="sweatorpay">
                  30,000원 ~ 50,000원 / 시간당
                </div>
                <div class="tagandscrab">
                  <div class="classtag">
                    <div class="tags">Java</div>
                    <div class="tags">초급</div>
                  </div>
                  <div class="scrab">
                    <div class="scrabnumber">12</div>
                    <div class="scrabicon" data-value="checked"><img class="bookmarkimg"
                        src="/images/class/bookmark.png" /></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="classplan">
              <img class="classphoto" src="/images/class/classphoto1.png" />
              <div class="classexplain">
                <div class="classintroduce">
                  실리콘벨리 개발 10년차가 알려주는 Machine learning 기초!
                </div>
                <div class="sweatorname">
                  코딩닥터효성
                </div>
                <div class="personinfo">
                  <div class="level">중급</div>
                  <div class="sweatorsweatee">SWETOR</div>
                </div>
                <div class="sweatorpay">
                  30,000원 ~ 50,000원 / 시간당
                </div>
                <div class="tagandscrab">
                  <div class="classtag">
                    <div class="tags">Java</div>
                    <div class="tags">초급</div>
                  </div>
                  <div class="scrab">
                    <div class="scrabnumber">12</div>
                    <div class="scrabicon" data-value="checked"><img class="bookmarkimg"
                        src="/images/class/bookmark.png" /></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="classplan">
              <img class="classphoto" src="/images/class/classphoto1.png" />
              <div class="classexplain">
                <div class="classintroduce">
                  실리콘벨리 개발 10년차가 알려주는 Machine learning 기초!
                </div>
                <div class="sweatorname">
                  코딩닥터효성
                </div>
                <div class="personinfo">
                  <div class="level">중급</div>
                  <div class="sweatorsweatee">SWETOR</div>
                </div>
                <div class="sweatorpay">
                  30,000원 ~ 50,000원 / 시간당
                </div>
                <div class="tagandscrab">
                  <div class="classtag">
                    <div class="tags">Java</div>
                    <div class="tags">초급</div>
                  </div>
                  <div class="scrab">
                    <div class="scrabnumber">12</div>
                    <div class="scrabicon" data-value="checked"><img class="bookmarkimg"
                        src="/images/class/bookmark.png" /></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="classplan">
              <img class="classphoto" src="/images/class/classphoto1.png" />
              <div class="classexplain">
                <div class="classintroduce">
                  실리콘벨리 개발 10년차가 알려주는 Machine learning 기초!
                </div>
                <div class="sweatorname">
                  코딩닥터효성
                </div>
                <div class="personinfo">
                  <div class="level">중급</div>
                  <div class="sweatorsweatee">SWETOR</div>
                </div>
                <div class="sweatorpay">
                  30,000원 ~ 50,000원 / 시간당
                </div>
                <div class="tagandscrab">
                  <div class="classtag">
                    <div class="tags">Java</div>
                    <div class="tags">초급</div>
                  </div>
                  <div class="scrab">
                    <div class="scrabnumber">12</div>
                    <div class="scrabicon" data-value="checked"><img class="bookmarkimg"
                        src="/images/class/bookmark.png" /></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
      </div>


    </div>

    <div class="searchbackground">
      <div class="keyword">
        <input onkeyup="filter()" id="keywordinput" type="text" placeholder="키워드, 스웨터 닉네임" />
        <img class="searchicon" onclick="searchbutton1()" src="/images/class/search.png" />
      </div>
    </div>

    <div class="tagbackground">
      <div class="tag">
        <button   class="searchkeyword" value="All">#All</button>
        <button   class="searchkeyword" value="JAVA">#Java</button >
        <button   class="searchkeyword" value="C">#C</button >
        <button   class="searchkeyword" value="C++">#C++</button >
        <button   class="searchkeyword" value="Python">#Python</button >
        <button   class="searchkeyword" value="R">#R</button >
        <button  class="searchkeyword" value="Javascript">#Javascript</button >
        <button    class="searchkeyword" value="Kotlin">#Kotlin</button >
        <button   class="searchkeyword" value="Swift">#Swift</button >
        <button    class="searchkeyword" value="SQL">#SQL</button >
        <button   class="searchkeyword" value="기타">#기타</button >
      </div>
    </div>


    <div class="classtotal">
      <div class="titleclasstotal">
        <div class="classnumbertotal">
        </div>
        <div class="classtotalsorting">
          <select id="sorting">
            <option class="sortingoption">최신순</option>
            <option class="sortingoption">낮은가격순</option>
          </select>
        </div>
      </div>
      <div class="classbox">
        <div class="classplan searchclassplan">
          <img class="classphoto" src="/images/class/classphoto1.png" />
          <div class="classexplain">
            <div class="classintroduce">
              실리콘벨리 개발 10년차가 알려주는 Machine learning 기초!
            </div>
            <div class="sweatorname">
              코딩닥터효진
            </div>
            <div class="personinfo">
              <div class="sweatorsweatee">SWETOR</div>
              <div class="level">중급개발자</div>
            </div>
            <div class="sweatorpay">
              30,000원 ~ 50,000원 / 시간당
            </div>
            <div class="tagandscrab">
              <div class="classtag">
                <div class="tags">Java</div>
                <div class="tags">초급</div>
              </div>
              <div class="scrab">
                <div class="scrabnumber">12</div>
                <div class="scrabicon" data-value="checked"><img class="bookmarkimg" src="/images/class/bookmark.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="classplan searchclassplan">
          <img class="classphoto" src="/images/class/classphoto1.png" />
          <div class="classexplain">
            <div class="classintroduce">
              실리콘벨리 개발 10년차가 알려주는 Machine learning 기초!
            </div>
            <div class="sweatorname">
              코딩닥터효성
            </div>
            <div class="personinfo">
              <div class="sweatorsweatee">SWETOR</div>
              <div class="level">중급개발자</div>
            </div>
            <div class="sweatorpay">
              30,000원 ~ 50,000원 / 시간당
            </div>
            <div class="tagandscrab">
              <div class="classtag">
                <div class="tags">Java</div>
                <div class="tags">초급</div>
              </div>
              <div class="scrab">
                <div class="scrabnumber">12</div>
                <div class="scrabicon" data-value="checked"><img class="bookmarkimg" src="/images/class/bookmark.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="classplan searchclassplan">
          <img class="classphoto" src="/images/class/classphoto1.png" />
          <div class="classexplain">
            <div class="classintroduce">
              실리콘벨리 개발 30년차가 알려주는 Machine learning 기초!
            </div>
            <div class="sweatorname">
              코딩닥터효성
            </div>
            <div class="personinfo">
              <div class="sweatorsweatee">SWETOR</div>
              <div class="level">중급개발자</div>
            </div>
            <div class="sweatorpay">
              30,000원 ~ 50,000원 / 시간당
            </div>
            <div class="tagandscrab">
              <div class="classtag">
                <div class="tags">Java</div>
                <div class="tags">초급</div>
              </div>
              <div class="scrab">
                <div class="scrabnumber">12</div>
                <div class="scrabicon" data-value="checked"><img class="bookmarkimg" src="/images/class/bookmark.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="classplan searchclassplan">
          <img class="classphoto" src="/images/class/classphoto1.png" />
          <div class="classexplain">
            <div class="classintroduce">
              실리콘벨리 개발 10년차가 알려주는 Machine learning 기초!
            </div>
            <div class="sweatorname">
              코딩닥터효성
            </div>
            <div class="personinfo">
              <div class="sweatorsweatee">SWETOR</div>
              <div class="level">중급개발자</div>
            </div>
            <div class="sweatorpay">
              30,000원 ~ 50,000원 / 시간당
            </div>
            <div class="tagandscrab">
              <div class="classtag">
                <div class="tags">Java</div>
                <div class="tags">초급</div>
              </div>
              <div class="scrab">
                <div class="scrabnumber">12</div>
                <div class="scrabicon" data-value="checked"><img class="bookmarkimg" src="/images/class/bookmark.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="classplan searchclassplan">
          <img class="classphoto" src="/images/class/classphoto1.png" />
          <div class="classexplain">
            <div class="classintroduce">
              실리콘벨리 개발 10년차가 알려주는 Machine learning 기초!
            </div>
            <div class="sweatorname">
              코딩닥터효성
            </div>
            <div class="personinfo">
              <div class="sweatorsweatee">SWETOR</div>
              <div class="level">중급개발자</div>
            </div>
            <div class="sweatorpay">
              30,000원 ~ 50,000원 / 시간당
            </div>
            <div class="tagandscrab">
              <div class="classtag">
                <div class="tags">Java</div>
                <div class="tags">초급</div>
              </div>
              <div class="scrab">
                <div class="scrabnumber">12</div>
                <div class="scrabicon" data-value="checked"><img class="bookmarkimg" src="/images/class/bookmark.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="classplan searchclassplan">
          <img class="classphoto" src="/images/class/classphoto1.png" />
          <div class="classexplain">
            <div class="classintroduce">
              실리콘벨리 개발 10년차가 알려주는 Machine learning 기초!
            </div>
            <div class="sweatorname">
              코딩닥터효성
            </div>
            <div class="personinfo">
              <div class="sweatorsweatee">SWETOR</div>
              <div class="level">중급개발자</div>
            </div>
            <div class="sweatorpay">
              30,000원 ~ 50,000원 / 시간당
            </div>
            <div class="tagandscrab">
              <div class="classtag">
                <div class="tags">Java</div>
                <div class="tags">초급</div>
              </div>
              <div class="scrab">
                <div class="scrabnumber">12</div>
                <div class="scrabicon" data-value="checked"><img class="bookmarkimg" src="/images/class/bookmark.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="classplan searchclassplan">
          <img class="classphoto" src="/images/class/classphoto1.png" />
          <div class="classexplain">
            <div class="classintroduce">
              실리콘벨리 개발 10년차가 알려주는 Machine learning 기초!
            </div>
            <div class="sweatorname">
              코딩닥터효성
            </div>
            <div class="personinfo">
              <div class="sweatorsweatee">SWETOR</div>
              <div class="level">중급개발자</div>
            </div>
            <div class="sweatorpay">
              30,000원 ~ 50,000원 / 시간당
            </div>
            <div class="tagandscrab">
              <div class="classtag">
                <div class="tags">Java</div>
                <div class="tags">초급</div>
              </div>
              <div class="scrab">
                <div class="scrabnumber">12</div>
                <div class="scrabicon" data-value="checked"><img class="bookmarkimg" src="/images/class/bookmark.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="classplan searchclassplan">
          <img class="classphoto" src="/images/class/classphoto1.png" />
          <div class="classexplain">
            <div class="classintroduce">
              실리콘벨리 개발 10년차가 알려주는 Machine learning 기초!
            </div>
            <div class="sweatorname">
              코딩닥터효성
            </div>
            <div class="personinfo">
              <div class="sweatorsweatee">SWETOR</div>
              <div class="level">중급개발자</div>
            </div>
            <div class="sweatorpay">
              30,000원 ~ 50,000원 / 시간당
            </div>
            <div class="tagandscrab">
              <div class="classtag">
                <div class="tags">Java</div>
                <div class="tags">초급</div>
              </div>
              <div class="scrab">
                <div class="scrabnumber">12</div>
                <div class="scrabicon" data-value="checked"><img class="bookmarkimg" src="/images/class/bookmark.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="more">
        <button onclick="morecontents()" class="moremessege" id="moremessege">더보기</button>
        <img class="moreicon" src="images/class/more.png" />
      </div>
      <div id="moreclassplan">
      <div class="classplan searchclassplan ">
        <img class="classphoto" src="/images/class/classphoto1.png" />
        <div class="classexplain">
          <div class="classintroduce">
            실리콘벨리 개발 10년차가 알려주는 Machine learning 기초!
          </div>
          <div class="sweatorname">
            코딩닥터효성
          </div>
          <div class="personinfo">
            <div class="sweatorsweatee">SWETOR</div>
            <div class="level">중급개발자</div>
          </div>
          <div class="sweatorpay">
            30,000원 ~ 50,000원 / 시간당
          </div>
          <div class="tagandscrab">
            <div class="classtag">
              <div class="tags">Java</div>
              <div class="tags">초급</div>
            </div>
            <div class="scrab">
              <div class="scrabnumber">12</div>
              <div class="scrabicon" data-value="checked"><img class="bookmarkimg" src="/images/class/bookmark.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>