<body>
    <div class="all">
        <div class="top1">
            <div class="topcon">
                <div class="profilecard">
                    <div class="buttondiv"><button class="write"></button></div>
                    <img class="profileimage" src="/images/안효섭씌.png">
                    <div class="profilename">코딩닥터효섭</div>
                    <div class="profilelevel">
                        <div class="profilejob">입문SWeTor</div>
                    </div>
                    <div class="profilenick"><img src="/images/ic_follow_add_fill_bl_24.svg" width="24px" height="24px"></div>
                    <div class="followernumber">팔로워 3명</div>
                </div>
                <div class="profileintro">
                    <div class="swetingpossible">
                        <div class="possiblearea"><img src="/images/ic_map_normal_line_dk.svg" width="20px" height="20px">스웨팅 가능지역<button class="write1"></button></div>
                        <div class="arealist">서울시 강남구, 서초구, 강동구,용산구 + 경기도 오산시, 수원시</div>
                        <div class="possibletime"><img src="/images/ic_time_normal_line_dk.svg" width="20px" height="20px" >스웨팅 가능 시간</div>
                        <div class="timelist">월,화,수,목,금 18:00~22:00 토 10:00~18:00</div>
                    </div>
                    <div class="profiledetail">
                        인공지능 분야에서 일을 시작한지 2년정도 되었습니다. <button class="introbtn"><img src="/images/ic_blankpage_normal_line_dk (1).svg" width="24px" height="24px"></button> <br> Python 기본 및 코딩테스트 관련 세미나를 다년간 진행해왔습니다.
                        
                    </div>
                    <div class="border"></div>
                    <div class="likegender">개발 분야<span class="gender">#Java #Python #Swift</span></div>
                    <div class="likelanguage">전공 분야<span class="language">#인공지능</span></div>
                    <div class="reason">주요 업종<span class="reasondetail">#Bigdata #교육</span></div>
                    <div class="appeartag">어필 태그<span class="tag">#파이썬 #멘토링 경험 다수</span></div>
                    <button onclick="morecontents()" class="addbtn"># 그 외 N개 더보기</button>
                    <div id="addbtn1" style="display: none;" class="hiddendiv">더볼려 말려</div>
                </div>
            </div>
        </div>
        <div class="low1">
            <div class="lowcon">
                <div class="mysweting">나의 스웨팅</div>
                <div class="myswetinginfo1">나의 정보</div>
                <div class="lowtop1">
                    <div class="myswetor">
                        <div class="myswetingtitle">
                            <div class="swetingtitlejob1">SWeTor<span class="titleinfo">나는 소프트웨어 멘토, 튜터</span></div>
                        </div>
                        <div class="classplan"><img src="/images/ic_documentrecord_normal_line_dk.svg"
                                class="classplanimage">개설한 수업계획 7개</div>
                        <div class="planinfo">대기3 완료2 거부2 저장1</div>
                        <div class="learning"><img src="/images/ic_matching_normal_line_dk.svg" class="learningimage">교육중인
                            러닝스웨팅룸 N개</div>
                        <div class="noactive">활동없음</div>
                    </div>
                    <div class="myswetee">
                        <div class="myswetingtitle1">
                            <div class="swetingtitlejob2">SWeTee<span class="titleinfo1">나는 소프트웨어 멘티, 튜티</span></div>
                        </div>
                        <div class="classplan1"><img src="/images/ic_documentrecord_normal_line_dk.svg"
                                class="classplanimage">신청한
                            수업계획 7개</div>
                        <div class="planinfo">대기3 완료2 거부2 저장1</div>
                        <div class="learning"><img src="/images/ic_matching_normal_line_dk.svg" class="learningimage">학습중인
                            러닝스웨팅룸 N개</div>
                        <div class="noactive">활동없음</div>
                    </div>
                    <div class="myinfo1">
                        <div class="follower"><img src="/images/ic_follow_normal_line_dk.svg" class="followerimage">팔로워 100
                        </div>
                        <div class="following"><img src="/images/ic_follow_normal_line_dk.svg" class="followingimage">팔로잉 20
                        </div>
                        <div class="bookmark"><img src="/images/ic_bookmark_normal_line_dk.svg" class="bookmarkimage">북마크 10
                        </div>
                        <div class="question"><img src="/images/ic_quetion_normal_line_dk.svg" class="questionimage">1:1 문의
                        </div>
                    </div>
                </div>
                <div class="btn1111"><button class="generatebtn"><img src="/images/- (3).svg" class="plusbtnimg">생성</button></div>
                <div class="btn2222"><button class="chattingbtn"><img src="/images/- (2).svg" class="chatbtnimg">채팅</button></div>
            </div>
        </div>
    </div>
</body>