<body>
    <div class="all">
        <div class="top1">
            <div class="topcon">
            <div class="profilecard">
                <div class="buttondiv"><button onclick="appeartext()" class="write"></button></div>
                <textarea onkeyup="modify()" id="write" class="writediv" style="display: none"></textarea>
                <img class="profileimage" src="/images/안효섭씌.png">
                <div id="profilename" class="profilename">코딩닥터효섭</div>
                <div class="profilelevel">
                    <div class="profilejob">초급SWeTee</div>
                    <!-- <div class="profilenick">초급학습자</div> -->
                </div>
            </div>
            <div class="profileintro">
                <textarea onkeyup="modify1()" id="write1" class="writediv" style="display: none"></textarea>
                <div id="profiledetail" class="profiledetail">
                    코딩닥터효섭님은 현재<button onclick="appeartext1()"class="writebtn"></button> <br><span class="impact">코딩을 해봤으나, 혼자서 결과물을 만들지
                        못하는</span> 초급 SWeTee 입니다.
                </div>
                
                <div class="likegender"><span class="likegender">선호하는 튜터 성별</span><span class="gender">여성</span></div>
                <div class="likelanguage"><span class="likelanguage">배우고 싶은 언어</span><span class="language">파이썬</span></div>
                <div class="reason"><span class="reason1">코딩을 배우고 싶은 이유</span><div class="reasondetail">제가 기획하고 디자인한 서비스를 직접 만들어 보고 싶습니당. <br>개발자와 의사소통을 원활하게 하고 싶습니당.</div></div>
            </div>
        </div>
        </div>
        <div class="low1">
            <div class="lowcon">
                <div class="textcon">
                    <div class="mysweting">나의 스웨팅</div>
                    <div class="myswetinginfo1">나의 정보</div>
                </div>
                <div class="infocontainer">
                    <div class="myswetinginfo">
                        <div class="myswetingtitle">
                            <div class="swetingtitlejob">SWeTee</div><div class="titleinfo">나는 소프트웨어 멘티, 튜터</div>
                        </div>
                        <div class="classplan"><img src="/images/ic_documentrecord_normal_line_dk.svg"
                                class="classplanimage">신청한 수업계획 7개</div>
                        <div class="planinfo">대기3 완료2 거부2 저장1</div>
                        <div class="learning"><img src="/images/ic_matching_normal_line_dk.svg" class="learningimage">학습중인
                            러닝스웨팅룸</div>
                        <div class="noactive">활동없음</div>
                    </div>
                    <div class="myinfo">
                        <div class="follower"><img src="/images/ic_follow_normal_line_dk.svg" class="followerimage">팔로워 100
                        </div>
                        <div class="following"><img src="/images/ic_follow_normal_line_dk.svg" class="followingimage">팔로잉 20
                        </div>
                        <div class="bookmark"><img src="/images/ic_bookmark_normal_line_dk.svg" class="bookmarkimage">북마크 10
                        </div>
                        <div class="question"><img src="/images/ic_quetion_normal_line_dk.svg" class="questionimage">1:1 문의
                        </div>
                    </div>
                </div>
                <div class="btn111"><button class="generatebtn"><img src="/images/- (3).svg" class="plusbtnimg">생성</button></div>
                <div class="btn222"><button class="chattingbtn"><img src="/images/- (2).svg" class="chatbtnimg">채팅</button></div>
            </div>
        </div>
    </div>
</body>