<div class="contentbackground">
    <div class="content">
        <div class="swetinginfo">
            <div class="mysweting">
                나의 스웨팅
            </div>
            <div class="maininfo swetor">
                <div class="banner">
                    <div class="who">SWeTor</div>
                    <div class="whoexplain">나는 소프트웨어 멘토, 튜터</div>
                </div>


                <div class="plan">
                    <div class="classtotal">
                        <img class="classplanimg" src="images/class/list.png">
                        <div class="classtotalnumber">개설한 수업계획 7개</div>
                    </div>
                    <div class="classplaninfo">
                        <div class="waiting">대기3</div>
                        <div class="complete">완료2</div>
                        <div class="reject">거부2</div>
                        <div class="save">저장2</div>
                    </div>
                </div>


                <div class="ongoingsweting">
                    <div class="ongoingtotal">
                        <img class="ongoingimg">
                        <div class="ongoingnumber">교육중인 티칭스웨팅룸 N개</div>
                    </div>
                    <div class="ongoinginfo">
                        <div class="waiting">대기3</div>
                        <div class="complete">완료2</div>
                        <div class="reject">거부2</div>
                        <div class="save">저장2</div>
                    </div>
                </div>



            </div>

            <div class="maininfo swetee">
                <div class="banner">
                    <div class="who">SWeTee</div>
                    <div class="whoexplain">나는 소프트웨어 멘티, 튜티</div>
                </div>


                <div class="plan">
                    <div class="classtotal">
                        <img class="classplanimg" src="images/class/list.png">
                        <div class="classtotalnumber">개설한 수업계획 7개</div>
                    </div>
                    <div class="classplaninfo">
                        <div class="waiting">대기3</div>
                        <div class="complete">완료2</div>
                        <div class="reject">거부2</div>
                        <div class="save">저장2</div>
                    </div>
                </div>


                <div class="ongoingsweting">
                    <div class="ongoingtotal">
                        <img class="ongoingimg">
                        <div class="ongoingnumber">교육중인 티칭스웨팅룸 N개</div>
                    </div>
                    <div class="ongoinginfo">
                        활동없음
                    </div>
                </div>



            </div>
        </div>
        <div class="swetingroombackground">
            <div class="title">
                <div class="classplan">수업계획</div>
                <div class="swetingroom">스웨팅룸</div>
            </div>
            <hr>
            <div class="explain">I'm sweTOR, 내가 티칭중인 스웨팅룸입니다</div>
            <div class="classstatus">
                <input type="button" class="button watingbutton" value="대기1">
                <input type="button" class="button ongoingbutton" value="진행3">
                <input type="button" class="button completebutton" value="완료2">
                <input type="button" class="button pausebutton" value="중단3">
                <input type="button" class="button savebutton" value="저장2">
            </div>
            <div class="myclass">
                <div class="class">
                    <div class="roomname">스웨팅룸명</div>
                    <div class="nameandstatus">
                        <div class="swetorname">스웨터이름</div>
                        <div class="ongoingstatus">
                            <div class="matchstatus">진행중 </div>
                            <div class="rate">2/5</div>
                            <div class="percent">40%</div>
                            <div class="ongoinggraph"></div>
                        </div>
                    </div>
                    <div class="incomingandrecentclass">
                        <div class="incoming">유입: <div class="incomingfrom">수업계획</div></div>
                        <div class="recentclass">최근수업일: <div class="date">2020.07.06</div></div>
                    
                    </div>
                </div>
                <div class="class">
                    <div class="roomname">스웨팅룸명</div>
                    <div class="nameandstatus">
                        <div class="swetorname">스웨터이름</div>
                        <div class="ongoingstatus">
                            <div class="matchstatus">진행중 </div>
                            <div class="rate">2/5</div>
                            <div class="percent">40%</div>
                            <div class="ongoinggraph"></div>
                        </div>
                    </div>
                    <div class="incomingandrecentclass">
                        <div class="incoming">유입: <div class="incomingfrom">수업계획</div></div>
                        <div class="recentclass">최근수업일: <div class="date">2020.07.06</div></div>
                    
                    </div>
                </div>
                <div class="class">
                    <div class="roomname">스웨팅룸명</div>
                    <div class="nameandstatus">
                        <div class="swetorname">스웨터이름</div>
                        <div class="ongoingstatus">
                            <div class="matchstatus">진행중 </div>
                            <div class="rate">2/5</div>
                            <div class="percent">40%</div>
                            <div class="ongoinggraph"></div>
                        </div>
                    </div>
                    <div class="incomingandrecentclass">
                        <div class="incoming">유입: <div class="incomingfrom">수업계획</div></div>
                        <div class="recentclass">최근수업일: <div class="date">2020.07.06</div></div>
                    
                    </div>
                </div>
                <div class="class">
                    <div class="roomname">스웨팅룸명</div>
                    <div class="nameandstatus">
                        <div class="swetorname">스웨터이름</div>
                        <div class="ongoingstatus">
                            <div class="matchstatus">진행중 </div>
                            <div class="rate">2/5</div>
                            <div class="percent">40%</div>
                            <div class="ongoinggraph"></div>
                        </div>
                    </div>
                    <div class="incomingandrecentclass">
                        <div class="incoming">유입: <div class="incomingfrom">수업계획</div></div>
                        <div class="recentclass">최근수업일: <div class="date">2020.07.06</div></div>
                    
                    </div>
                </div>
                <div class="class">
                    <div class="roomname">스웨팅룸명</div>
                    <div class="nameandstatus">
                        <div class="swetorname">스웨터이름</div>
                        <div class="ongoingstatus">
                            <div class="matchstatus">진행중 </div>
                            <div class="rate">2/5</div>
                            <div class="percent">40%</div>
                            <div class="ongoinggraph"></div>
                        </div>
                    </div>
                    <div class="incomingandrecentclass">
                        <div class="incoming">유입: <div class="incomingfrom">수업계획</div></div>
                        <div class="recentclass">최근수업일: <div class="date">2020.07.06</div></div>
                    
                    </div>
                </div>
                <div class="class">
                    <div class="roomname">스웨팅룸명</div>
                    <div class="nameandstatus">
                        <div class="swetorname">스웨터이름</div>
                        <div class="ongoingstatus">
                            <div class="matchstatus">진행중 </div>
                            <div class="rate">2/5</div>
                            <div class="percent">40%</div>
                            <div class="ongoinggraph"></div>
                        </div>
                    </div>
                    <div class="incomingandrecentclass">
                        <div class="incoming">유입: <div class="incomingfrom">수업계획</div></div>
                        <div class="recentclass">최근수업일: <div class="date">2020.07.06</div></div>
                    
                    </div>
                </div>
                <div class="class">
                    <div class="roomname">스웨팅룸명</div>
                    <div class="nameandstatus">
                        <div class="swetorname">스웨터이름</div>
                        <div class="ongoingstatus">
                            <div class="matchstatus">진행중 </div>
                            <div class="rate">2/5</div>
                            <div class="percent">40%</div>
                            <div class="ongoinggraph"></div>
                        </div>
                    </div>
                    <div class="incomingandrecentclass">
                        <div class="incoming">유입: <div class="incomingfrom">수업계획</div></div>
                        <div class="recentclass">최근수업일: <div class="date">2020.07.06</div></div>
                    
                    </div>
                </div>
                <div class="class">
                    <div class="roomname">스웨팅룸명</div>
                    <div class="nameandstatus">
                        <div class="swetorname">스웨터이름</div>
                        <div class="ongoingstatus">
                            <div class="matchstatus">진행중 </div>
                            <div class="rate">2/5</div>
                            <div class="percent">40%</div>
                            <div class="ongoinggraph"></div>
                        </div>
                    </div>
                    <div class="incomingandrecentclass">
                        <div class="incoming">유입: <div class="incomingfrom">수업계획</div></div>
                        <div class="recentclass">최근수업일: <div class="date">2020.07.06</div></div>
                    
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>