<div class="process-box">
    <div class="process-title-box">
        <div class="row">
            <div class="col-md-3 text-center"><h6 class="process-word">기본 정보</h6></div>
            <div class="col-md-3 text-center"><h6 class="process-word">수업 계획서</h6></div>
            <div class="col-md-3 text-center"><h6 class="process-word-highlighted">경력 증명</h6></div>
            <div class="col-md-3 text-center"><h6 class="process-word">스웨터 요청완료</h6></div>
        </div>

    </div>
    <div class="percentage-bar">
        <div class="progress-bar-c">
        </div>
    </div>
    <div class="profile-box">
        <div class="profile-box-container">
            <div class="document-container">
                <h5>서류 제출</h5>
                <p>경력을 증명할 수 있는 서류를 보내주세요.</p>
                <p>기본 경력 사항 (<span class="blue">이력서</span> 등) 외에 <span class="blue">명함이나 사원증, 재직증명서</span>도 괜찮습니다. <span class="blue">건강보험 납입증명서</span>도 좋습니다.</p>
                <p>관리자 검토후 최종 승인 되며, 승인까지는 최대 2일 정도 소요됩니다.<br>조금만 기다려주세요.</p>
                <button class="button-border-append" type="button"><span style="flex: 1 1;
                    margin: 2px;
                    text-align: left;">파일 추가</span><img class="icon" src="/images/fileadd_button.svg" ></button>
                <p><span style="font-size:5px;">&#9733;</span>첫 스웨팅이 성사가 되면, 수업료 지급을 위해 <span class="bold">통장사본, 신분증</span> 등을 추가로 요청드릴 수 있습니다.</p>
            </div>
        </div>
    </div>
    <div class="button-box-area">
        <div class="row">
            <div class="col-md-4">
                <button>취소</button>
            </div>
            <div class="col-md-4">
                <button>저장</button>
            </div>
            <div class="col-md-4">
                <button>제출</button>
            </div>
        </div>
    </div>
