    <div class="text-center sweator-joinbox">
        <img class="profileImg" src="/images/sweatee_profile.svg">
    </div>
    <div class="text-center commentbox">
        <button class="button border button-thumb">프로필사진 등록</button>
    </div>
    <div class="text-center commentbox-little">
        <p>{%유저별명%}<!--홍길동-->님</p>
        <p><!--고급 학습자-->{%학습 레벨자%}로 스웨티을 시작하실 수 있습니다!</p>
    </div>

    <form class="join-tutee-form">
        <div class="card">
            <div class="label-row birthday">
                <div class="row info">
                    <span class="title">생년월일</span>
                </div>
                <div class="row content">
                    <div class="row date-input">
                        <button type="button" class="button">
                            <div class="row info">1990.01.01</div>
                            <img class="icon" src="/images/join/downarrow.svg" alt="ARROW_DOWN_LINE_DARK">
                        </button>
                    </div>
                </div>
            </div>
            <div class="label-row gender">
                <div class="row info">
                    <span class="title">성별</span>
                </div>
                <div class="row content">
                    <label class="radio-input">
                        <input name="gender" type="radio" class="radio" value="woman">
                        <span>여성</span>
                    </label>
                    <label class="radio-input"><input name="gender" type="radio" class="radio" value="man"><span>남성</span></label></div>
            </div>
        </div>
    </form>
        <button type="submit" class="btn btn-primary" href="#">
            회원가입 완료하기
        </button>
    
