<div class="text-center">
    <h2>스웨팅에 오신 것을</h2>
    <h2>환영합니다!!</h2>

    <div class="description">
        <p>회원 여러분들의 안전한 서비스 이용을 위해,<br>스웨팅에서는 이메일 인증을 받고 있습니다.</p>
        <p>가입하신 이메일 주소로<br>인증코드가 발송되었습니다</p>
        <p>해당 인증코드를 입력하여 주시기 바랍니다.
            <br>만약 인증코드를 받지 못하셨다면
            <br>스팸메일함을 확인해보시거나 또는
            <br>재발송 버튼을 클릭해주시기 바랍니다.
        </p>
    </div>

    <form>
        <div class="column join-email-confirm-form">
            <p class="info email">이메일 </p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username" aria-label="인증코드"
                    aria-describedby="basic-addon1">
            </div>
            <div class="float-right">
                <button type="button" class="btn btn-light ">인증코드 재발송</button>
            </div>
            <div class="text-center">
                <button class="btn btn-light">취소</button>
                <button class="btn btn-primary">확인</button>
            </div>

        </div>
    </form>
</div>