<div class="cover">
    <div class="container">
        <div class="head-title text-center">
            <h1>스웨팅 회원가입이 완료되었습니다!</h1>
            <span>아래 질문에 대답해 주시면 스웨팅 서비스를 이용하실 수 있습니다.</span>
        </div>
        <div class="secondbox text-center">
            <span>1/2 (50%)</span>
            <div class="percentage-bar">
                <div class="progress-bar" style="width:300px;
                height: 8px;
                background: transparent linear-gradient(270deg,#394dd1,#7885e0) 0 0 no-repeat padding-box;
                border-radius: 4px;
                opacity: 1;
                margin-top:20px;"></div>
            </div>
        </div>
        <div class="career-box text-center">
            <h4>개발 역량이 얼마나 되세요?</h4>
            <select class="custom-select">
                <!-- <option selected></option> -->
                <option value="1">입문 개발자</option>
                <option value="2">초급 개발자</option>
                <option value="3">중급 개발자</option>
                <option value="4">고급 개발자</option>
                <option value="5">특급 개발자</option>
            </select>
        </div>
        <div class="explain-box career-box">
            <div id="low-level" class="levelbox">
                <div class="box-explain-section-top" >
                    <span class="boxspan">[IDE]</span>
                    <p class="boxp">개발환경 구축 및 인터페이스 탐색이 가능하고 IDE를 효율적으로 운영 가능하다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[API]</span>
                    <p class="boxp">가장 많이 사용되는 API를 처리하는 방법을 알고 있다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[프레임워크]</span>
                    <p class="boxp">몇 가지 프레임워크를 다루어본 경험이 있고, 언어 스택 내에서 사용할 가치가 있는 인기있는 프레임 워크에 대해 알고 있다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[개발언어]</span>
                    <p class="boxp">일반적으로 하나의 프로그래밍 언어에 익숙하다. 문제가 주어 졌을때 적당한 방법을 사용하여 해결할 수 있다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[플랫폼 및 툴]</span>
                    <p class="boxp">플랫폼 내부에 대한 지식의 깊이는 다소 부족하다. 널리 사용되는 개발에 필요한 표준 도구들을 사용 할 수 있다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[역할]</span>
                    <p class="boxp">일반적으로 최종 제품에 거의 영향을 미치지 않는 단순한 작업을 수행한다.</p>
                </div>
                <div class="box-explain-section-bottom">
                    <span class="boxspan">[역량]</span>
                    <p class="boxp">개발 실무 경험 1 ~ 2년 수준의 단계 아직 경험이 부족하여 꾸준히 학습하고 멘토링이 필요한 단계</p>
                </div>
            </div>
            <div id="mid-level" class="levelbox hidden">
                <div class="box-explain-section-top" >
                    <span class="boxspan">[IDE]</span>
                    <p class="boxp">개발환경 구축 및 인터페이스 탐색이 가능하고 IDE를 효율적으로 운영 가능하다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[API]</span>
                    <p class="boxp">개발환경 구축 및 인터페이스 탐색이 가능하고 IDE를 효율적으로 운영 가능하다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[프레임워크]</span>
                    <p class="boxp">몇 가지 프레임워크를 다루어본 경험이 있고, 언어 스택 내에서 사용할 가치가 있는 인기있는 프레임 워크에 대해 알고 있다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[개발언어]</span>
                    <p class="boxp">일반적으로 하나의 프로그래밍 언어에 익숙하다. 문제가 주어 졌을때 적당한 방법을 사용하여 해결할 수 있다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[플랫폼 및 툴]</span>
                    <p class="boxp">플랫폼 내부에 대한 지식의 깊이는 다소 부족하다. 널리 사용되는 개발에 필요한 표준 도구들을 사용 할 수 있다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[역할]</span>
                    <p class="boxp">일반적으로 최종 제품에 거의 영향을 미치지 않는 단순한 작업을 수행한다.</p>
                </div>
                <div class="box-explain-section-bottom">
                    <span class="boxspan">[역량]</span>
                    <p class="boxp">개발 실무 경험 2 ~ 3년 수준의 단계 실무 단계에서 요구하는 기술을 채택하고 프로젝트에 적용 가능한 단계 제품 개발 프로젝트의 일부분으로써 역할이 가능한 단계 개발 중심이 아니라 코드 중심인 단계</p>
                </div>
            </div>
            <div id="high-level" class="levelbox hidden">
                <div class="box-explain-section-top" >
                    <span class="boxspan">[IDE]</span>
                    <p class="boxp">전문 지식을 통해 워크 플로를 최적화하기 위해 사용자 지정 매크로를 작성 가능하다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[API]</span>
                    <p class="boxp">더 많은 기능을 추가하거나 가장 빈번한 프로세스를 자동화하기 위해 라이브러리 작성이 가능하다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[프레임워크]</span>
                    <p class="boxp">맞춤형 프레임 워크를 구축 할 수있는 충분한 지식을 가지고 있다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[개발언어]</span>
                    <p class="boxp">객체지향 및 함수형 프로그래밍 기반 지식 및 사용이 능숙하고 일반적인 알고리즘 처리 숙련도가 높다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[플랫폼 및 툴]</span>
                    <p class="boxp">플랫폼을 향상시키는 데 필요한 디버거 또는 기타 도구를 만드는 것이 가능하다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[역할]</span>
                    <p class="boxp">개발 이외에도 비즈니스나 마케팅적 영향성을 위해 고민하고 있다. 팀을 책임 지고 리딩한 적이 있으며 일관된 비즈니스 가치를 창출하기 위해 워크 플로 조정 가능하다.</p>
                </div>
                <div class="box-explain-section-bottom">
                    <span class="boxspan">[역량]</span>
                    <p class="boxp">개발 실무 경험 5 ~ 10년 수준의 단계 깊이있는 전문 지식과 철저한 경험을 보유하고 있다면 다른 개발자 동료를 멘토링 할 수 있는 단계 미리 발생할 문제들을 예측하고 대안 및 해결책을 제시 할 수 있는 단계 시스템 병목현상에 대해서 생각하고 부적절한 도구 사용으로 인한 취약점과 문제점을 해결할 수 있는 단계 프로젝트 진행 동안 모범 사례의 지식을 바탕으로 개발 및 설계에 대한 합리적인 비전을 제시 할 수 있는 단계</p>
                </div>
            </div>
            <div id="special-level" class="levelbox hidden">
                <div class="box-explain-section-top" >
                    <span class="boxspan">[IDE]</span>
                    <p class="boxp">전문 지식을 통해 워크 플로를 최적화하기 위해 사용자 지정 매크로를 작성 가능하다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[API]</span>
                    <p class="boxp">더 많은 기능을 추가하거나 가장 빈번한 프로세스를 자동화하기 위해 라이브러리 작성이 가능하다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[프레임워크]</span>
                    <p class="boxp">맞춤형 프레임 워크를 구축 할 수있는 충분한 지식을 가지고 있다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[개발언어]</span>
                    <p class="boxp">객체지향 및 함수형 프로그래밍 기반 지식 및 사용이 능숙하고 일반적인 알고리즘 처리 숙련도가 높다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[플랫폼 및 툴]</span>
                    <p class="boxp">플랫폼을 향상시키는 데 필요한 디버거 또는 기타 도구를 만드는 것이 가능하다.</p>
                </div>
                <div class="box-explain-section">
                    <span class="boxspan">[역할]</span>
                    <p class="boxp">특정 분야의 전문 연구원 또는 소프트웨어 아키텍트</p>
                </div>
                <div class="box-explain-section-bottom">
                    <span class="boxspan">[역량]</span>
                    <p class="boxp">개발 실무 경험 10년 이상 수준의 단계 여러 기술에 익숙하고 어떤 언어로든 좋은 코드를 인식하고 작성 가능한 단계 전문적 지식이 직관적 사고로 전환되어 시스템 결함이나 문제점에 대해서 조언이 가능한 단계 제품의 비즈니스적 가치를 이해 할 수 있는 단계 소프트웨어 엔지니어링 기술의 결함을 추적하여 개선 할 수 있는 단계</p>
                </div>
            </div>
            <div class="button-box">
                <div class="box-explain-section">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="button button-border"><svg width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{isolation:isolate;}.b{fill:none;}.c{fill:#4f5783;}</style></defs><g class="a"><rect class="b" width="24" height="24"></rect><g transform="translate(8 5)"><g transform="translate(0 6)"><path class="c" d="M1001.153,1043.242a1,1,0,0,1,.707.293l6,6a1,1,0,1,1-1.414,1.414l-6-6a1,1,0,0,1,.707-1.707Z" transform="translate(-1000.154 -1043.242)"></path></g><path class="c" d="M1008.153,1038.242a.993.993,0,0,1-.293.707l-6,6a1,1,0,0,1-1.414-1.414l6-6a1,1,0,0,1,1.707.707Z" transform="translate(-1000.154 -1037.242)"></path></g></g></svg>이전레벨 역량보기</button>
                        </div>
                        <div class="col-md-6 text-center">
                            <button class="button button-border">다음레벨 역량보기<svg width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{isolation:isolate;}.b{fill:none;}.c{fill:#4f5783;}</style></defs><g class="a"><rect class="b" width="24" height="24"></rect><g transform="translate(8 5)"><g transform="translate(0)"><path class="c" d="M996.153,1045.242a1,1,0,0,1-.707-.293l-6-6a1,1,0,0,1,1.414-1.414l6,6a1,1,0,0,1-.707,1.707Z" transform="translate(-989.154 -1037.242)"></path></g><g transform="translate(0 6)"><path class="c" d="M989.153,1050.242a1,1,0,0,1,.293-.707l6-6a1,1,0,0,1,1.414,1.414l-6,6a1,1,0,0,1-1.707-.707Z" transform="translate(-989.153 -1043.242)"></path></g></g></g></svg></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-explain-span">
            <div class="row contents">
                <img src="/images/Join/checkarrow.svg" >
                <p>개발경력 및 역량에 대하여 확인하신 후, 해당 레벨로 스웨터를 요청하실 수 있습니다.</p>
            </div>
            <div class="row contents">
                <img src="/images/Join/checkarrow.svg" >
                <p>스웨터는 승인절차를 거친 후 활동하실 수 있습니다.</p>
            </div>
            <div class="row contents">
                <img src="/images/Join/checkarrow.svg" >
                <p>스웨터 승인은 요청하신후 영업일 기준으로 최대 2일 소요됩니다.</p>
            </div>
        </div>
    </div>
    
    <div class="bottom-hold-post text-center">
        <button class="post-sweator">스웨터 신청하기</button>
    </div>
</div>