<div class="cover">
    <div class="container">
        <div class="head-title text-center">
            <h1>적합한 매칭을 위한 추가 질문입니다!</h1>
        </div>
        <div class="secondbox text-center">
            <span>3/3 (100%)</span>
            <div class="percentage-bar">
                <div class="progress-bar" style="width:392px;
                height: 8px;
                background: transparent linear-gradient(270deg, #D2006B 0%, #E388B5 100%) 0% 0% no-repeat padding-box;
                border-radius: 4px;
                opacity: 1;
                margin-top:20px;"></div>
            </div>
        </div>
        <div class="container button-box">
            <div class="survey-block" style="margin-left: 243px;
            margin-top: 48px;">
                <h4>원하는 선생님의 성별이 있다.</h4>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">여성</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">남성</label>
                </div>
            </div>
            <div class="survey-block" style="margin-left: 243px;
            margin-top: 48px;">
                <h4>배우고 싶은 언가 있다.(다중선택 가능)</h4>
                <textarea class="form-control" aria-label="With textarea"
                    style="max-width: 595px;"></textarea>
            </div>
            <div class="survey-block" style="margin-left: 243px;
            margin-top: 48px;">
                <h4>코딩을 배우고 싶은 이유를 말씀해주세요!</h4>
                <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea"
                    style="max-width: 595px;"></textarea>
                </div>
            </div>
            <div class="container button-box text-center">
                <button class="col-md-6" style="background: var(--bl-s-500-394dd1-★) 0% 0% no-repeat padding-box;
                background: #394DD1 0% 0% no-repeat padding-box;
                border-radius: 4px;
                opacity: 1;">확인</button>

    <button class="col-md-6" style="border-color:transparent;
    background:none;
    border-radius: 0px; color: #4F5783;
    opacity: 1;">Skip ></button>
            </div>
        
        </div>
    </div>
</div>