<div class="cover">
    <div class="container">
        <div class="head-title text-center">
            <h1>스웨팅 회원가입이 완료되었습니다!</h1>
            <span>아래 질문에 대답해 주시면 스웨팅 서비스를 이용하실 수 있습니다.</span>
        </div>
        <div class="secondbox text-center">
            <span>0/3 (0%)</span>
            <div class="percentage-bar">
            </div>
        </div>
        <div class="container button-box text-center">
            <button class="col-md-6">코딩을 배우고 싶다</button>
            <button class="col-md-6">코딩을 가르칠 수 있다</button>
        </div>
    </div>
</div>