<!DOCTYPE html>
    <html>
        <head>
            <title>SWETING-AI</title>
            <link rel="icon" href="/images/favicon.svg">
            <link rel="stylesheet" href="/stylesheets/bootstrap.css">
            <link rel="stylesheet" href="/fonts/NotoSansCJKkr-Medium.otf">
        </head>
        <style>
            @font-face{
                font-family:'NotoRegular';
                src: url(/fonts/NotoSansCJKkr-Regular.otf) format('opentype');
            }

            @font-face{
                font-family:'NotoBold';
                src: url(/fonts/NotoSansCJKkr-Regular.otf) format('opentype');
            }

            @font-face{
                font-family:'NotoMedium';
                src: url(/fonts/NotoSansCJKkr-Regular.otf) format('opentype');
            }
            
            .cover{
                background: #f5f6ff;
                width: 100vw;
                height: 100vh;
                overflow-y: auto;
            }

            .head-title{
                margin-top: 170px;
                /* width: 410px;
                height: 41px; */
               
            }

            .head-title > h1{
                font-size: 36px;
                /* font-family: 'NotoBold', sans-serif; */
                letter-spacing: 0px;
                color: #242E64;
                opacity: 1;
                font-weight: bold;
            }

            .button-box{
                padding-top:15px;
                padding-bottom: 30px;
            }

            .secondbox{
                margin-top: 45px;

            }

            .secondbox > span{
                font-family: 'NotoBold';
                color:#656C92;
                opacity: 1;
                text-align: left;
            }

            .percentage-bar{
                width:588px;
                height: 8px;
                background-color: #DCDFEE;
                border-radius: 4px;
                opacity: 1;
                margin-left:260px;
                margin-top:20px;
            }

            .button-box > button{
                height:48px;
                margin-top:32px;
                background-color: #242E64;
                color:white;
                border-radius: 4px;
                opacity: 1;
            }


            .career-box{
                margin-top: 40px;
                margin-left: 170px;
                width: 70%;
                background: var(--gi-00-ffffff) 0% 0% no-repeat padding-box;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border-radius: 4px;
                opacity: 1;
            }

            .career-box > .levelbox >.box-explain-section-top{
                margin-left:75px;
                padding-top:30px;
                padding-bottom:15px;
            }

            .boxspan{
                font-weight: 700;
                color: #4f5783;
                font-family: 'NotoBold', sans-serif;
            }

            .boxp{
                color: #4f5783;
                font-family: 'NotoMedium', sans-serif;
            }

            .career-box > .levelbox >.box-explain-section{
                margin-left:75px;
                padding-top:15px;
                padding-bottom: 15px;
            }

            .career-box >.levelbox > .box-explain-section-bottom{
                margin-left:75px;
                padding-top:15px;
            }

            .bottom-explain-span{
                position: relative;
                color: #242e64;
                font-size: 14px;
                margin-bottom: 82px; 
                margin-top:24px;
                margin-left: 185px;
            }

            .bottom-hold-post{
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                justify-content: center;
                align-items: center;
                background: #fff;
                height: 72px;
                display: flex;
                flex-direction: row; 
            }

            .post-sweator{
                margin-top:10px;
                background: #394dd1;
                border-radius: 4px;
                color: #fff;
                width: 186px;
                height: 48px;
                box-sizing: border-box;
                box-shadow: 0 0 6px rgba(0,0,0,.16);
                font-size: 16px;
                font-weight: 500;
            }

            .contents > p {
                font-size:14px;
            }

            .contents > img{
                vertical-align: middle;
                border-style: none;
                height: 22px;
            }

            .hidden{
                display: none;
            }

            .button{
                padding: 0 16px;
                height: 48px;
                color: #394dd1;
                font-weight: 500;
            }

            .button-border{
                background: #fff;
                border: 1px solid #dcdfee;
                border-radius: 4px;
            }
                        
        </style>
        <body>
            <%- body %>
        </body>
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/bootstrap.bundle.min.js"></script>
    </html>

<!-- 
    <div class="percentage-bar">
        <div class="progress-bar" style="width:196px;
        height: 8px;
        background: transparent linear-gradient(270deg, #D2006B 0%, #E388B5 100%) 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
        margin-top:20px;"></div>
    </div> -->