<div class="process-box">
    <div class="process-title-box">
        <div class="row">
            <div class="col-md-3 text-center"><h6 class="process-word-highlited">기본 정보</h6></div>
            <div class="col-md-3 text-center"><h6 class="process-word">수업 계획서</h6></div>
            <div class="col-md-3 text-center"><h6 class="process-word">경력 증명</h6></div>
            <div class="col-md-3 text-center"><h6 class="process-word">스웨터 요청완료</h6></div>
        </div>

    </div>
    <div class="percentage-bar">
        <div class="progress-bar-a">
        </div>
    </div>
    <div class="profile-box">
        <div class="profile-box-container">
            <h5>기본 정보 (필수)</h5>
            <div class="profile-picture">
                <p>프로필사진(선택)</p>
                <img class="profile-cover" src="/images/Join/profile_cover.png">
            </div>
            <div class="profile-section">
                <div class="span-area">
                    <span>자기 소개</span>
                </div>
                <input type="text" class="form-control" placeholder="본인을 잘 표현할 수 있는 소개 문구를 작성해주세요">
            </div>
            <div class="profile-section">
                <div class="span-area">
                    <span>전공 분야</span>
                </div>
                <input type="text" class="form-control" placeholder="예)Python, Java">
            </div>
            <div class="profile-section">
                <div class="span-area">
                    <span>개발 분야</span>
                </div>
                <input type="text" class="form-control" placeholder="예)프론트엔드,백엔드,모바일">
            </div>
            <div class="profile-section">
                <div class="span-area">
                    <span>주요 업종</span>
                </div>
                <input type="text" class="form-control" placeholder="예)교육,금융,부동산">
            </div>
            <div class="profile-section">
                <div class="span-area">
                    <span>학력</span>
                </div>
                <input type="text" class="form-control" placeholder="예)교육,금융,부동산">
            </div>
            <div class="profile-section">
                <div class="span-area">
                    <span>스웨터에게 어필할 키워드</span>
                </div>
                <input type="text" class="form-control" placeholder="예)실리콘벨리취업, 대학입시">
            </div>
            <div class="profile-section">
                <div class="span-area">
                    <span>수업가능 시간</span>
                </div>
                <input type="text" class="form-control" placeholder="예)토 13:00~15:00">
            </div>
            <div class="profile-section">
                <div class="span-area">
                    <span>수업가능 지역</span>
                </div>
                <input type="text" class="form-control" placeholder="예)광역시/도.시/군/구">
            </div>
        </div>
    </div>
    <div class="button-box-area">
        <div class="row">
            <div class="col-md-4">
                <button>취소</button>
            </div>
            <div class="col-md-4">
                <button>저장</button>
            </div>
            <div class="col-md-4">
                <button>다음</button>
            </div>
        </div>
    </div>
</div>