<div class="process-box">
    <div class="process-title-box">
        <div class="row">
            <div class="col-md-3 text-center"><h6 class="process-word">기본 정보</h6></div>
            <div class="col-md-3 text-center"><h6 class="process-word">수업 계획서</h6></div>
            <div class="col-md-3 text-center"><h6 class="process-word">경력 증명</h6></div>
            <div class="col-md-3 text-center"><h6 class="process-word-highlighted">스웨터 요청완료</h6></div>
        </div>

    </div>
    <div class="percentage-bar">
        <div class="progress-bar-d">
        </div>
    </div>
    <div class="profile-box">
        <div class="profile-box-container text-center">
            <div class="document-container">
                <h5><--닉네임님--></h5>
                <p>스웨팅 <span>'입문 개발자'</span>로 요청 완료되었습니다.</p>
                <p>승인되기 전까지는 스웨티 <span>'새싹 학습자'</span>로 활동하실 수 있습니다.</p>
                <img src="" alt="">
                <span>Sweator</span>
            </div>
            <div class="welcome-message">
                <p>스웨팅 관리자가</p>
                <p>곧 연락드리겠습니다</p>
            </div>
            <div class="button-box">
                <button>스웨팅 홈으로 이동</button>
            </div>
        </div>
    </div>
    <div class="button-box-area">
    </div>
